GML/S-412.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iho.int/S131/1.0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:S100="http://www.iho.int/s100gml/5.0"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    targetNamespace="http://www.iho.int/S131/1.0"
    elementFormDefault="qualified"
    version="1.0.0-20220818">
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schemas.s100dev.net/schemas/S100/5.0.0/S100GML/20220620/S100_gmlProfile.xsd"/>
    <xs:import namespace="http://www.iho.int/s100gml/5.0" schemaLocation="https://schemas.s100dev.net/schemas/S100/5.0.0/S100GML/20220620/s100gmlbase.xsd"/>
    <xs:complexType name="beaufortForceType">
        <xs:annotation>
            <xs:documentation>Wind force scale, originally based on the state of the sea, expressed in numbers from 0 to 12, as defined by WMO (WMO 306 Manual on Codes, Volume I.1 - International Codes).</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="beaufortForceLabel">
                <xs:attribute name="code" type="beaufortForceCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>    <xs:simpleType name="beaufortForceLabel">
        <xs:annotation>
            <xs:documentation>Wind force scale, originally based on the state of the sea, expressed in numbers from 0 to 12, as defined by WMO (WMO 306 Manual on Codes, Volume I.1 - International Codes).</xs:documentation>
        </xs:annotation>        <xs:restriction base="xs:string"><xs:enumeration value="calm"><xs:annotation><xs:documentation>Absence of air motion or wind with a speed of less than 1 knot (Beaufort scale wind force 0).</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="light air"><xs:annotation><xs:documentation>Wind with a speed between 1 and 3 knots (Beaufort scale wind force 1)</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="light breeze"><xs:annotation><xs:documentation>Wind with a speed between 4 and 6 knots (Beaufort scale wind force 2).</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="gentle breeze"><xs:annotation><xs:documentation>Wind with a speed between 7 and 10 knots (Beaufort scale wind force 3).</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="moderate breeze"><xs:annotation><xs:documentation>Wind with a speed between 11 and 16 knots (Beaufort scale wind force 4).</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="fresh breeze"><xs:annotation><xs:documentation>Wind with a speed between 17 and 21 knots (Beaufort scale wind force 5).</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="strong breeze"><xs:annotation><xs:documentation>Wind with a speed between 22 and 27 knots (Beaufort scale wind force 6).</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="near gale"><xs:annotation><xs:documentation>Wind with a speed between 28 and 33 knots (Beaufort scale wind force 7).</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="gale"><xs:annotation><xs:documentation>Wind with a speed between 34 and 40 knots (Beaufort scale wind force 8).</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="strong gale"><xs:annotation><xs:documentation>Wind with a speed between 41 and 47 knots (Beaufort scale wind force 9).</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="storm"><xs:annotation><xs:documentation>Wind with a speed between 48 and 55 knots (Beaufort scale wind force 10).</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="violent storm"><xs:annotation><xs:documentation>Wind with a speed between 56 and 63 knots (Beaufort scale wind force 11).</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="hurricane"><xs:annotation><xs:documentation>(1) Term, derived from a Caribbean word, first applied to tropical cyclones of the Caribbean Sea. (2) Wind with a speed 64 knots or higher (Beaufort scale wind force 12).</xs:documentation></xs:annotation></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>    <xs:simpleType name="beaufortForceCode">
        <xs:annotation>
            <xs:documentation>Wind force scale, originally based on the state of the sea, expressed in numbers from 0 to 12, as defined by WMO (WMO 306 Manual on Codes, Volume I.1 - International Codes).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">            <xs:enumeration value="99">            </xs:enumeration>
            <xs:enumeration value="1">            </xs:enumeration>
            <xs:enumeration value="2">            </xs:enumeration>
            <xs:enumeration value="3">            </xs:enumeration>
            <xs:enumeration value="4">            </xs:enumeration>
            <xs:enumeration value="5">            </xs:enumeration>
            <xs:enumeration value="6">            </xs:enumeration>
            <xs:enumeration value="7">            </xs:enumeration>
            <xs:enumeration value="8">            </xs:enumeration>
            <xs:enumeration value="9">            </xs:enumeration>
            <xs:enumeration value="10">            </xs:enumeration>
            <xs:enumeration value="11">            </xs:enumeration>
            <xs:enumeration value="12">            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>    <xs:complexType name="iceAccretionRateType">
        <xs:annotation>
            <xs:documentation>Represents the ice accretion warning that has been exceeded or forecast to be exceeded based on ice accumulation rates.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="iceAccretionRateLabel">
                <xs:attribute name="code" type="iceAccretionRateCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>    <xs:simpleType name="iceAccretionRateLabel">
        <xs:annotation>
            <xs:documentation>Represents the ice accretion warning that has been exceeded or forecast to be exceeded based on ice accumulation rates.</xs:documentation>
        </xs:annotation>        <xs:restriction base="xs:string"><xs:enumeration value="moderateIcing"><xs:annotation><xs:documentation>Ice accumulation rates between 0.7 and 2 centimeters per hour are forecast or occurring.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="severeIcing"><xs:annotation><xs:documentation>Ice accumulation rates greater than or equal to 2 centimeters per hour are forecast or occurring.</xs:documentation></xs:annotation></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>    <xs:simpleType name="iceAccretionRateCode">
        <xs:annotation>
            <xs:documentation>Represents the ice accretion warning that has been exceeded or forecast to be exceeded based on ice accumulation rates.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">            <xs:enumeration value="1">            </xs:enumeration>
            <xs:enumeration value="2">            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>    <xs:complexType name="metareaNameType">
        <xs:annotation>
            <xs:documentation>A name referencing a defined geographical area of the ocean used to coordinate the transmission of meteorological information and services to mariners.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="metareaNameLabel">
                <xs:attribute name="code" type="metareaNameCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>    <xs:simpleType name="metareaNameLabel">
        <xs:annotation>
            <xs:documentation>A name referencing a defined geographical area of the ocean used to coordinate the transmission of meteorological information and services to mariners.</xs:documentation>
        </xs:annotation>        <xs:restriction base="xs:string"><xs:enumeration value="METAREA I"><xs:annotation><xs:documentation>METAREA 1.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA II"><xs:annotation><xs:documentation>METAREA 2.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA III"><xs:annotation><xs:documentation>METAREA 3.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA IV"><xs:annotation><xs:documentation>METAREA 4.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA V"><xs:annotation><xs:documentation>METAREA 5.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA VI"><xs:annotation><xs:documentation>METAREA 6.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA VII"><xs:annotation><xs:documentation>METAREA 7.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA VIII"><xs:annotation><xs:documentation>METAREA 8.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA IX"><xs:annotation><xs:documentation>METAREA 9.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA X"><xs:annotation><xs:documentation>METAREA 10.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA XI"><xs:annotation><xs:documentation>METAREA 11.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA XII"><xs:annotation><xs:documentation>METAREA 12.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA XIII"><xs:annotation><xs:documentation>METAREA 13.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA XIV"><xs:annotation><xs:documentation>METAREA 14.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA XV"><xs:annotation><xs:documentation>METAREA 15.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA XVI"><xs:annotation><xs:documentation>METAREA 16.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA XVII"><xs:annotation><xs:documentation>METAREA 17.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA XVIII"><xs:annotation><xs:documentation>METAREA 18.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA XIX"><xs:annotation><xs:documentation>METAREA 19.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA XX"><xs:annotation><xs:documentation>METAREA 20.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="METAREA XXI"><xs:annotation><xs:documentation>METAREA 21.</xs:documentation></xs:annotation></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>    <xs:simpleType name="metareaNameCode">
        <xs:annotation>
            <xs:documentation>A name referencing a defined geographical area of the ocean used to coordinate the transmission of meteorological information and services to mariners.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">            <xs:enumeration value="1">            </xs:enumeration>
            <xs:enumeration value="2">            </xs:enumeration>
            <xs:enumeration value="3">            </xs:enumeration>
            <xs:enumeration value="4">            </xs:enumeration>
            <xs:enumeration value="5">            </xs:enumeration>
            <xs:enumeration value="6">            </xs:enumeration>
            <xs:enumeration value="7">            </xs:enumeration>
            <xs:enumeration value="8">            </xs:enumeration>
            <xs:enumeration value="9">            </xs:enumeration>
            <xs:enumeration value="10">            </xs:enumeration>
            <xs:enumeration value="11">            </xs:enumeration>
            <xs:enumeration value="12">            </xs:enumeration>
            <xs:enumeration value="13">            </xs:enumeration>
            <xs:enumeration value="14">            </xs:enumeration>
            <xs:enumeration value="15">            </xs:enumeration>
            <xs:enumeration value="16">            </xs:enumeration>
            <xs:enumeration value="17">            </xs:enumeration>
            <xs:enumeration value="18">            </xs:enumeration>
            <xs:enumeration value="19">            </xs:enumeration>
            <xs:enumeration value="20">            </xs:enumeration>
            <xs:enumeration value="21">            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>    <xs:complexType name="significantWaveHeightWarningThresholdType">
        <xs:annotation>
            <xs:documentation>Represents the significant wave height warning that has been exceeded or is forecast to be exceeded based on predetermined bins of significant wave height values.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="significantWaveHeightWarningThresholdLabel">
                <xs:attribute name="code" type="significantWaveHeightWarningThresholdCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>    <xs:simpleType name="significantWaveHeightWarningThresholdLabel">
        <xs:annotation>
            <xs:documentation>Represents the significant wave height warning that has been exceeded or is forecast to be exceeded based on predetermined bins of significant wave height values.</xs:documentation>
        </xs:annotation>        <xs:restriction base="xs:string"><xs:enumeration value="two and a half to four metres"><xs:annotation><xs:documentation>Significant wave heights between 2.5 and 4 metres (8-13 feet) are forecast or occurring.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="four to six metres"><xs:annotation><xs:documentation>Significant wave heights between 4 and 6 metres (13-20 feet) are forecast or occurring.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="six to nine metres"><xs:annotation><xs:documentation>Significant wave heights between 6 and 9 metres (20-30 feet) are forecast or occurring.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="nine to fourteen metres"><xs:annotation><xs:documentation>Significant wave heights between 9 and 14 metres (30-45 feet) are forecast or occurring.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="greater than fourteen metres"><xs:annotation><xs:documentation>Significant wave heights greater than 14 metres (>45 feet) are forecast or occurring.</xs:documentation></xs:annotation></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>    <xs:simpleType name="significantWaveHeightWarningThresholdCode">
        <xs:annotation>
            <xs:documentation>Represents the significant wave height warning that has been exceeded or is forecast to be exceeded based on predetermined bins of significant wave height values.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">            <xs:enumeration value="1">            </xs:enumeration>
            <xs:enumeration value="2">            </xs:enumeration>
            <xs:enumeration value="3">            </xs:enumeration>
            <xs:enumeration value="4">            </xs:enumeration>
            <xs:enumeration value="5">            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>    <xs:simpleType name="textType">
        <xs:annotation>
            <xs:documentation>A non-formatted digital text string.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="languageType">
        <xs:annotation>
            <xs:documentation>The method of human communication, either spoken or written, consisting of the use of words in a structured and conventional way.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="agencyNameType">
        <xs:annotation>
            <xs:documentation>The name of an agency, entity or organization.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="mailingAddressType">
        <xs:annotation>
            <xs:documentation>The physical address a parcel may be sent to.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="telephoneNumberType">
        <xs:annotation>
            <xs:documentation>The telephone number of an entity.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="emailAddressType">
        <xs:annotation>
            <xs:documentation>Identifies an email box to which email messages are delivered.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="webAddressType">
        <xs:annotation>
            <xs:documentation>A reference to a web resource that specifies its location on a computer network and a mechanism for retrieving it.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="countryNameType">
        <xs:annotation>
            <xs:documentation>The name of a nation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="dateStartType">
        <xs:annotation>
            <xs:documentation>The earliest date on which an object (for example a buoy) will be present.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="S100:S100_TruncatedDate"/>
        </xs:complexContent>
    </xs:complexType>    <xs:complexType name="dateEndType">
        <xs:annotation>
            <xs:documentation>The latest date on which an object (for example a buoy) will be present.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="S100:S100_TruncatedDate"/>
        </xs:complexContent>
    </xs:complexType>    <xs:simpleType name="issueDateType">
        <xs:annotation>
            <xs:documentation>Date up to which the data was made available by the Data Producer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="issueTimeType">
        <xs:annotation>
            <xs:documentation>The time, expressed in Universal Time Coordinated (UTC), at which the data was made available by the Data Producer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="weatherWarningNumberType">
        <xs:annotation>
            <xs:documentation>Identification number given to a specifc weather warning.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="cancellationDateType">
        <xs:annotation>
            <xs:documentation>Date and time of cancelling a notice or warning.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="nextUpdateDateTimeType">
        <xs:annotation>
            <xs:documentation>The time, expressed in Universal Time Coordinated (UTC) an object and its attributes are scheduled to be updated.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="interoperabilityIdentifierType">
        <xs:annotation>
            <xs:documentation>interoperabilityIdentifier</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>
    <xs:simpleType name="timeOfDayStartType">
        <xs:annotation>
            <xs:documentation>The time corresponding to the start of an active period.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="timeOfDayEndType">
        <xs:annotation>
            <xs:documentation>The time corresponding to the end of an active period.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="fileReferenceType">
        <xs:annotation>
            <xs:documentation>fileReference</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="sourceOfIcingType">
        <xs:annotation>
            <xs:documentation>The type of weather phenomenon causing hazardous ice accretion.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="sourceOfIcingLabel">
                <xs:attribute name="code" type="sourceOfIcingCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>    <xs:simpleType name="sourceOfIcingLabel">
        <xs:annotation>
            <xs:documentation>The type of weather phenomenon causing hazardous ice accretion.</xs:documentation>
        </xs:annotation>        <xs:restriction base="xs:string"><xs:enumeration value="freezingSpray"><xs:annotation><xs:documentation>Sea spray transported through air at temperatures below 0C.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="freezingRain"><xs:annotation><xs:documentation>Precipitation drops freezing on impact to form a coating of clear ice (glaze) on the ground and on exposed objects.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="freezingFog"><xs:annotation><xs:documentation>Tiny, supercooled liquid water droplets in fog can freeze instantly on exposed surfaces when surface temperatures are at or below freezing.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="otherIcingSource"><xs:annotation><xs:documentation>Source of icing is unknown or is different from other types of icing sources.</xs:documentation></xs:annotation></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>    <xs:simpleType name="sourceOfIcingCode">
        <xs:annotation>
            <xs:documentation>The type of weather phenomenon causing hazardous ice accretion.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">            <xs:enumeration value="1">            </xs:enumeration>
            <xs:enumeration value="2">            </xs:enumeration>
            <xs:enumeration value="3">            </xs:enumeration>
            <xs:enumeration value="4">            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>    <xs:complexType name="windWarningThresholdType">
        <xs:annotation>
            <xs:documentation>Represents the wind warning that has been exceeded or forecast to be exceeded.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="windWarningThresholdLabel">
                <xs:attribute name="code" type="windWarningThresholdCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>    <xs:simpleType name="windWarningThresholdLabel">
        <xs:annotation>
            <xs:documentation>Represents the wind warning that has been exceeded or forecast to be exceeded.</xs:documentation>
        </xs:annotation>        <xs:restriction base="xs:string"><xs:enumeration value="near gale force"><xs:annotation><xs:documentation>Wind speeds between 28 and 33 knots (Beaufort scale wind force 7) are forecast or occurring.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="gale force"><xs:annotation><xs:documentation>Wind speeds between 34 and 47 knots (Beaufort scale wind force 8 and 9) are forecast or occurring.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="storm force"><xs:annotation><xs:documentation>Wind speeds between 48 and 63 knots (Beaufort scale wind force 10 or 11) are forecast or occurring.</xs:documentation></xs:annotation></xs:enumeration>
<xs:enumeration value="hurricane force"><xs:annotation><xs:documentation>Sustained wind speeds 64 knots or higher (Beaufort scale wind force 12) are forecast or occurring.</xs:documentation></xs:annotation></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>    <xs:simpleType name="windWarningThresholdCode">
        <xs:annotation>
            <xs:documentation>Represents the wind warning that has been exceeded or forecast to be exceeded.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">            <xs:enumeration value="1">            </xs:enumeration>
            <xs:enumeration value="2">            </xs:enumeration>
            <xs:enumeration value="3">            </xs:enumeration>
            <xs:enumeration value="4">            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>    <xs:complexType name="contactInformationType">
        <xs:annotation>
            <xs:documentation>Information about where inquiries can be sent.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- subattributes -->            <xs:element name="agencyName" type="agencyNameType" minOccurs="1" maxOccurs="1"/>            <xs:element name="mailingAddress" type="mailingAddressType" minOccurs="0" maxOccurs="1"/>            <xs:element name="telephoneNumber" type="telephoneNumberType" minOccurs="0" maxOccurs="1"/>            <xs:element name="emailAddress" type="emailAddressType" minOccurs="0" maxOccurs="1"/>            <xs:element name="webAddress" type="webAddressType" minOccurs="0" maxOccurs="1"/>        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fixedDateRangeType">
        <xs:annotation>
            <xs:documentation>An active period of a single fixed event or occurrence, as the date range between discrete start and end dates.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- subattributes -->            <xs:element name="dateStart" type="dateStartType" minOccurs="1" maxOccurs="1"/>            <xs:element name="dateEnd" type="dateEndType" minOccurs="1" maxOccurs="1"/>            <xs:element name="timeOfDayStart" type="timeOfDayStartType" minOccurs="1" maxOccurs="1"/>            <xs:element name="timeOfDayEnd" type="timeOfDayEndType" minOccurs="1" maxOccurs="1"/>        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="informationType">
        <xs:annotation>
            <xs:documentation>No definition set for information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- subattributes -->            <xs:element name="language" type="languageType" minOccurs="0" maxOccurs="1"/>            <xs:element name="text" type="textType" minOccurs="0" maxOccurs="1"/>            <xs:element name="fileReference" type="fileReferenceType" minOccurs="0" maxOccurs="1"/>        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="issuingServiceType">
        <xs:annotation>
            <xs:documentation>The number of the METAREA, name of the Nation, and the National Meteorological and Hydrological Service (NMHS) or National Authority that broadcast the warning.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- subattributes -->            <xs:element name="metareaName" type="metareaNameType" minOccurs="1" maxOccurs="1"/>            <xs:element name="countryName" type="countryNameType" minOccurs="0" maxOccurs="1"/>            <xs:element name="issuingServiceName" type="issuingServiceNameType" minOccurs="1" maxOccurs="1"/>        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="issuingServiceNameType">
        <xs:annotation>
            <xs:documentation>The identifier that indicates which organization issued meteorological and oceanographic data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- subattributes -->            <xs:element name="information" type="informationType" minOccurs="1" maxOccurs="unbounded"/>        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="maximumWindSpeedType">
        <xs:annotation>
            <xs:documentation>When applied to a warning or forecast polygon, refers to the maximum wind speed or range of wind speeds found within the contour of the polygon.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- subattributes -->            <xs:element name="information" type="informationType" minOccurs="1" maxOccurs="unbounded"/>        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="preparationServiceType">
        <xs:annotation>
            <xs:documentation>The name of the Nation and National Meteorological and Hydrological Service (NMHS) or National Authority that prepared the warning and transferred it to the relevant Issuing Service for broadcast if not the same.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- subattributes -->            <xs:element name="issuingServiceName" type="issuingServiceNameType" minOccurs="1" maxOccurs="1"/>            <xs:element name="countryName" type="countryNameType" minOccurs="0" maxOccurs="1"/>        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="weatherWarningMessageType">
        <xs:annotation>
            <xs:documentation>Text message associated with a weather warning polygon.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- subattributes -->            <xs:element name="information" type="informationType" minOccurs="1" maxOccurs="unbounded"/>        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DataProviderType" abstract="false">
        <xs:annotation>
            <xs:documentation>The national authority providing a data in an official capacity.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="S100:AbstractInformationType">
                <xs:sequence>
                    <!-- attributes -->
<!--0-->     <xs:element name="issuingService" type="issuingServiceType" minOccurs="1" maxOccurs="1"/>
<!--1-->     <xs:element name="contactInformation" type="contactInformationType" minOccurs="1" maxOccurs="1"/>
<!--2-->     <xs:element name="preparationService" type="preparationServiceType" minOccurs="1" maxOccurs="1"/>
 </xs:sequence>
            </xs:extension>        </xs:complexContent>
    </xs:complexType>
    <xs:element name="DataProvider" type="DataProviderType"/>
    <xs:complexType name="WeatherWarningType" abstract="true">
        <xs:annotation>
            <xs:documentation>A product issued by a national authority when a specific weather scenario or event threatens people or property meets criteria defined by WMO (WMO No. 558 and No. 471) or by a national authority where applicable.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="S100:AbstractFeatureType">
                <xs:sequence>
                    <!-- attributes -->
<!--0-->  <xs:element name="fixedDateRange" type="fixedDateRangeType" minOccurs="1" maxOccurs="1"/>
<!--1-->  <xs:element name="weatherWarningMessage" type="weatherWarningMessageType" minOccurs="0" maxOccurs="1"/>
<!--2-->  <xs:element name="issueDate" type="issueDateType" minOccurs="1" maxOccurs="1"/>
<!--3-->  <xs:element name="issueTime" type="issueTimeType" minOccurs="0" maxOccurs="1"/>
<!--4-->  <xs:element name="weatherWarningNumber" type="weatherWarningNumberType" minOccurs="1" maxOccurs="1"/>
<!--5-->  <xs:element name="cancellationDate" type="cancellationDateType" minOccurs="1" maxOccurs="1"/>
<!--6-->  <xs:element name="nextUpdateDateTime" type="nextUpdateDateTimeType" minOccurs="0" maxOccurs="1"/>
<!--7-->  <xs:element name="interoperabilityIdentifier" type="interoperabilityIdentifierType" minOccurs="0" maxOccurs="1"/>
<!--8-->  <xs:element name="dataProviderInformation" type="gml:ReferenceType" minOccurs="0" maxOccurs="1"/>
 </xs:sequence>
            </xs:extension>        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IceAccretionWarningType" abstract="false">
        <xs:annotation>
            <xs:documentation>A product issued by a national authority when ice accumulation rates pose a hazard to vessels.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="WeatherWarningType">
                <xs:sequence>
                    <!-- attributes -->
<!--0-->  <xs:element name="iceAccretionRate" type="iceAccretionRateType" minOccurs="1" maxOccurs="1"/>
<!--1-->  <xs:element name="sourceOfIcing" type="sourceOfIcingType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="geometry" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:choice>
                                <xs:element ref="S100:surfaceProperty"/>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
 </xs:sequence>
            </xs:extension>        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RestrictedVisibilityWarningType" abstract="false">
        <xs:annotation>
            <xs:documentation>A product issued by a national authority when horizontal visibility is degraded to less than 0.5 nautical miles by fog, smoke, dust, haze, heavy precipitation, or any other phenomena.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="WeatherWarningType">
                <xs:sequence>
                    <!-- attributes -->
                    <xs:element name="geometry" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:choice>
                                <xs:element ref="S100:surfaceProperty"/>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
 </xs:sequence>
            </xs:extension>        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SignificantWaveHeightWarningType" abstract="false">
        <xs:annotation>
            <xs:documentation>A product issued by a national authority when sea state conditions pose a hazard or are life-threatening.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="WeatherWarningType">
                <xs:sequence>
                    <!-- attributes -->
<!--0-->  <xs:element name="significantWaveHeightWarningThreshold" type="significantWaveHeightWarningThresholdType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="geometry" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:choice>
                                <xs:element ref="S100:surfaceProperty"/>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
 </xs:sequence>
            </xs:extension>        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ThunderstormWarningType" abstract="false">
        <xs:annotation>
            <xs:documentation>A product issued by a national authority when an area of thunderstorms or squalls poses a hazard. Conditions could include strong winds, locally higher waves, potentially heavy precipitation, hail, and dangerous lightning strikes.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="WeatherWarningType">
                <xs:sequence>
                    <!-- attributes -->
                    <xs:element name="geometry" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:choice>
                                <xs:element ref="S100:surfaceProperty"/>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
 </xs:sequence>
            </xs:extension>        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="WindWarningType" abstract="false">
        <xs:annotation>
            <xs:documentation>A product issued by a national authority when high wind speeds pose a hazard or are life-threatening.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="WeatherWarningType">
                <xs:sequence>
                    <!-- attributes -->
<!--0-->  <xs:element name="windWarningThreshold" type="windWarningThresholdType" minOccurs="1" maxOccurs="1"/>
<!--1-->  <xs:element name="beaufortForce" type="beaufortForceType" minOccurs="0" maxOccurs="1"/>
<!--2-->  <xs:element name="maximumWindSpeed" type="maximumWindSpeedType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="geometry" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:choice>
                                <xs:element ref="S100:surfaceProperty"/>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
 </xs:sequence>
            </xs:extension>        </xs:complexContent>
    </xs:complexType>
    <xs:element name="IceAccretionWarning" type="IceAccretionWarningType"/>
    <xs:element name="RestrictedVisibilityWarning" type="RestrictedVisibilityWarningType"/>
    <xs:element name="SignificantWaveHeightWarning" type="SignificantWaveHeightWarningType"/>
    <xs:element name="ThunderstormWarning" type="ThunderstormWarningType"/>
    <xs:element name="WindWarning" type="WindWarningType"/>
    <xs:group name="MemberObjects">
        <xs:annotation>
            <xs:documentation>group of informtion, feature and meta objects, all GML members</xs:documentation>
        </xs:annotation>
        <xs:choice>
<xs:element ref="IceAccretionWarning"/><xs:element ref="RestrictedVisibilityWarning"/><xs:element ref="SignificantWaveHeightWarning"/><xs:element ref="ThunderstormWarning"/><xs:element ref="WindWarning"/><xs:element ref="DataProvider"/>        </xs:choice>
    </xs:group>
    <xs:complexType name="ThisDatasetType">
        <xs:complexContent>
            <xs:extension base="S100:DatasetType">
                <xs:sequence>
                    <xs:element name="members">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="gml:AbstractFeatureMemberType">
                                    <xs:sequence>
                                        <xs:group ref="MemberObjects" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Dataset" type="ThisDatasetType"/>
</xs:schema>
